@import './pages/Register/register.css';

.App {
  box-sizing: border-box;
  height: 100%;
}

.contentScreens {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}